# =========================
# Terraform
# =========================

.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# =========================
# Sensitive files
# =========================

*.pem
*.key

# =========================
# Node.js
# =========================

node_modules/
npm-debug.log
package-lock.json

# =========================
# OS / Editor
# =========================

.DS_Store
.vscode/